@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --tblr-body-bg: #ffffff;
  --tblr-font-sans-serif: 'Inter', sans-serif;
  --tblr-body-font-weight: 400;
  --tblr-font-size-h1: 2rem;
  --tblr-primary: #fc7303;
  --tblr-lime-rgb: 86, 204, 84;
  --tblr-blue-rgb: 57, 66, 234;
  --tblr-muted: #000000;
  --tblr-link-hover-color: none;
  --tblr-border-color: #dbe0e7;
  --tblr-secondary-rgb: 243, 244, 246;
}

.btn.show {
  --tblr-btn-active-bg: #ffffff;
  --tblr-btn-active-border-color: #b3b7bd;
}

.btn:disabled {
  --tblr-btn-disabled-color: #959dac;
  --tblr-btn-disabled-bg: #eceff4;
  border-color: transparent;
}

.btn-primary {
  --tblr-btn-bg: #fff4eb;
  --tblr-btn-color: var(--tblr-primary);
  --tblr-btn-box-shadow: none;
  --tblr-btn-hover-bg: #febc86;
  --tblr-btn-hover-color: var(--tblr-primary);
  --tblr-btn-active-color: var(--tblr-primary);
  --tblr-btn-active-bg: #febc86;
  --tblr-btn-border-color: transparent;
}

.border-primary {
  --tblr-primary-rgb: 252, 115, 3;
}

.bg-primary {
  --tblr-primary-rgb: 252, 115, 3;
}

.border-secondary {
  --tblr-secondary-rgb: 219, 224, 231;
}

.btn-secondary {
  --tblr-btn-color: ;
  --tblr-btn-bg: #eceff4;
  --tblr-btn-hover-border-color: transparent;
  --tblr-btn-box-shadow: none;
}

.navbar .navbar-nav .nav-link.active {
  color: var(--tblr-primary);
  border-left: 2px solid currentColor;
  --tblr-border-radius: 0;
}

.navbar .navbar-nav .nav-link.disabled {
  --tblr-disabled-color: #959dac;
  pointer-events: all;
  cursor: pointer;
}

.form-control:hover:not(:disabled) {
  border-color: #b8c0cd;
}

.form-control:focus {
  border-color: var(--tblr-primary);
}

.form-control:disabled {
  opacity: 0.5;
}

textarea.form-control {
  min-height: 168px;
}

.offcanvas {
  --tblr-offcanvas-width: 880px;
}

.offcanvas textarea.form-control {
  min-height: 80px;
}

.card-header-tabs .nav-link.active {
  --tblr-card-bg: #fff4eb;
  border-bottom-color: var(--tblr-border-color);
}

.nav {
  --tblr-nav-link-color: var(--tblr-muted);
  --tblr-nav-link-hover-color: var(--tblr-link-hover-color);
}

.nav-tabs {
  --tblr-nav-tabs-link-active-color: var(--tblr-primary);
  --tblr-nav-tabs-link-hover-border-color: transparent;
  --tblr-nav-tabs-border-radius: 0;
  --tblr-nav-tabs-link-active-border-color: transparent;
}

.nav-tabs .nav-link {
  border-right-color: var(--tblr-border-color);
  border-bottom-color: var(--tblr-border-color);
  background-color: #ffffff;
}

.nav-tabs .nav-link:hover:not(.active) {
  border-right-color: var(--tblr-border-color);
  border-bottom-color: var(--tblr-border-color);
}

.nav-tabs .nav-item:last-child .nav-link {
  border-right-color: transparent;
}

.dropzone {
  min-height: auto;
}

.form-select {
  --tblr-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.form-select:focus {
  border-color: #b8c0cd;
}

.form-check-input {
  width: 1.5rem;
  height: 1.5rem;
  background-size: 1.5rem 1.5rem;
}

.form-check-input:focus {
  border-color: transparent;
}

.form-check-input:checked[type='radio'] {
  --tblr-primary: #fff4eb;
  --tblr-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3ccircle r='3' fill='%23fc7303' cx='8' cy='8' /%3e%3c/svg%3e");
}

.form-colorinput-input:focus ~ .form-colorinput-color {
  border-color: var(--tblr-border-color);
}

.form-colorinput-input:checked ~ .form-colorinput-color {
  background-color: #fee8d6;
  border-color: transparent;
}

.form-colorinput-color:before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3e%3cpath fill='none' stroke='%23fc7303' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8.5l2.5 2.5l5.5 -5.5'/%3e%3c/svg%3e");
}

.form-switch .form-check-input {
  --tblr-form-check-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e");
  background-color: var(--tblr-primary);
  background-position: left 4px center;
  background-size: 12px 12px;
}

.form-switch .form-check-input:checked[type='checkbox'] {
  background-position: right 4px center;
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:active {
  filter: none;
}

/* start disabled search select */
.ts-wrapper {
  padding: 12px;
  background-color: #f3f4f6;
  border-radius: 6px;
}

.ts-wrapper.single .ts-control:after {
  width: 6px;
  height: 6px;
  border-width: 0;
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
  transform: rotate(135deg);
  transition: transform 0.3s ease;
}

.ts-wrapper.single.dropdown-active .ts-control:after {
  border-width: 0;
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
  transform: rotate(-45deg);
  margin-top: 0;
}

.focus .ts-control {
  border-color: transparent;
  box-shadow: none;
}

.ts-control {
  border: none;
  padding: 8px 12px;
}

.ts-control .item[data-value='1'] {
  opacity: 0.5;
}

.ts-dropdown {
  font-size: inherit;
  color: inherit;
  padding: 8px 12px 12px 12px;
  background-color: #f3f4f6;
  border: none;
  box-shadow: none;
  top: calc(100% - 12px);
  margin: 0;
}

.ts-dropdown [data-selectable].option:first-child {
  display: none;
}

.ts-dropdown .option {
  padding: 8px 32px;
}

.ts-dropdown .active {
  background-color: #f3f4f6;
  color: #000000;
}

.ts-dropdown-content {
  padding: 12px 0;
  border: 1px solid var(--tblr-border-color);
  border-radius: 4px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
/* end disabled search select */

/* start available search select */
.ts-wrapper.available-search-select {
  padding: 0;
  background-color: transparent;
}

.ts-wrapper.available-search-select .ts-control {
  border: 1px solid var(--tblr-border-color);
}

.ts-wrapper.available-search-select .ts-dropdown {
  top: 100%;
  padding: 0;
  margin-top: 8px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
}

.ts-wrapper.available-search-select .ts-dropdown [data-selectable].option:first-child {
  display: block;
}

.ts-wrapper.available-search-select .dropdown-input-wrap {
  background-color: #ffffff;
  padding: 12px 8px 8px 8px;
  border: 1px solid var(--tblr-border-color);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: none;
}

.plugin-dropdown_input.focus .ts-dropdown .dropdown-input {
  border: 1px solid var(--tblr-primary);
  background-color: #ffffff;
  box-shadow: none;
  padding: 6px 32px;
  border-radius: 4px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 14L11.1 11.1M12.6667 7.33333C12.6667 10.2789 10.2789 12.6667 7.33333 12.6667C4.38781 12.6667 2 10.2789 2 7.33333C2 4.38781 4.38781 2 7.33333 2C10.2789 2 12.6667 4.38781 12.6667 7.33333Z' stroke='%23959DAC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center left 10px;
}

.plugin-dropdown_input.focus .ts-dropdown .dropdown-input::placeholder {
  opacity: 0.5;
}

.ts-wrapper.available-search-select .ts-dropdown-content {
  padding: 0;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: none;
}

.ts-wrapper.available-search-select .ts-dropdown .option {
  padding: 8px 32px;
}

/* end available search select */

.modal-sm {
  --tblr-modal-width: 400px;
  --tblr-modal-border-color: none;
}

.btn-close {
  --tblr-btn-close-opacity: 1;
  --tblr-btn-close-hover-opacity: 1;
}
