@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --tblr-body-bg: #ffffff;
  --tblr-body-color: #000000;
  --tblr-font-weight-bold: 700;
  --tblr-link-color-rgb: 0, 0, 0;
  --tblr-font-sans-serif: 'Inter', sans-serif;
  --tblr-body-font-weight: 400;
  --tblr-font-size-h1: 2rem;
  --tblr-primary: #fc7303;
  --tblr-lime-rgb: 86, 204, 84;
  --tblr-blue-rgb: 57, 66, 234;
  --tblr-muted: #000000;
  --tblr-link-hover-color: none;
  --tblr-border-color: #d9d9d9;
  --tblr-secondary-rgb: 243, 244, 246;
  --tblr-disabled-color: #959dac;
  --tblr-disabled-bg: #ffffff;
  --tblr-primary-rgb: 252, 115, 3;
  --tblr-content-padding: 2rem;
  --tblr-success-rgb: 86, 204, 84;
  --tblr-info-rgb: 57, 66, 234;
  --tblr-danger-rgb: 242, 68, 68;
}

a:hover {
  text-decoration: none;
  --tblr-link-color-rgb: currentColor;
}

.btn {
  --tblr-btn-bg: var(--tblr-primary);
}

.btn:disabled {
  --tblr-btn-disabled-bg: var(--tblr-disabled-color);
  --tblr-btn-disabled-color: var(--tblr-disabled-color);
  --tblr-btn-disabled-opacity: 1;
  --tblr-btn-disabled-border-color: transparent;
}

.btn-link {
  color: var(--tblr-muted);
  border-bottom: 1px solid currentColor;
}

.btn-link:hover {
  color: var(--tblr-muted);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.btn-link:disabled {
  opacity: 0.5;
}

.disabled {
  --tblr-btn-disabled-color: var(--tblr-disabled-color);
  --tblr-btn-disabled-bg: #eceff4;
  --tblr-btn-disabled-border-color: transparent;
  --tblr-btn-disabled-opacity: 1;
  pointer-events: none;
  color: var(--tblr-disabled-color);
}

.btn.btn-primary:disabled {
  --tblr-btn-disabled-bg: #eceff4;
}

.btn-close {
  --tblr-btn-close-opacity: 1;
  --tblr-btn-close-hover-opacity: 1;
}

.btn.show {
  --tblr-btn-active-bg: #ffffff;
  --tblr-btn-active-border-color: #b3b7bd;
}

.btn-primary {
  --tblr-btn-bg: #fff4eb;
  --tblr-btn-color: var(--tblr-primary);
  --tblr-btn-box-shadow: none;
  --tblr-btn-hover-bg: #febc86;
  --tblr-btn-hover-color: var(--tblr-primary);
  --tblr-btn-active-color: var(--tblr-primary);
  --tblr-btn-active-bg: #febc86;
  --tblr-btn-border-color: transparent;
}

.btn-danger {
  --tblr-btn-color: #f24444;

  --tblr-btn-bg: #fef0f0;
  --tblr-btn-box-shadow: none;
}

.bg-secondary {
  --tblr-secondary-rgb: 149, 157, 172;
}

.border-secondary {
  --tblr-secondary-rgb: 219, 224, 231;
}

.btn-secondary {
  --tblr-btn-color: var(--tblr-body-color);
  --tblr-btn-bg: #eceff4;
  --tblr-btn-hover-border-color: transparent;
  --tblr-btn-box-shadow: none;
  --tblr-btn-hover-color: var(--tblr-body-color);
}

.navbar .navbar-nav .nav-link.active {
  color: var(--tblr-primary);
  border-left: 2px solid currentColor;
  --tblr-border-radius: 0;
}

.form-control:disabled {
  --tblr-bg-surface-secondary: var(--tblr-disabled-bg);
}

.form-control:hover:not(:disabled) {
  border-color: #b8c0cd;
}

.form-control:focus {
  border-color: var(--tblr-primary);
}

.offcanvas {
  --tblr-offcanvas-width: 100%;
  max-width: 880px;
}

.offcanvas:has(.collapse.show) {
  max-width: 1200px;
}

.offcanvas .collapsing {
  transition: none;
}

.card-header {
  border: 1px solid var(--tblr-border-color);
  border-bottom: none;
}

.card-header-tabs .nav-link.active {
  --tblr-card-bg: #fff4eb;
  border-bottom: 1px solid var(--tblr-border-color);
  border-right: none;
}

.card-header-tabs.disabled .nav-link.active {
  --tblr-card-bg: #f3f4f6;
  --tblr-nav-tabs-link-active-color: var(--tblr-disabled-color);
}

.card-header-tabs.disabled .nav-link {
  --tblr-nav-link-color: var(--tblr-disabled-color);
}

.nav {
  --tblr-nav-link-color: var(--tblr-muted);
  --tblr-nav-link-hover-color: var(--tblr-link-hover-color);
}

.nav-tabs {
  --tblr-nav-tabs-link-active-color: var(--tblr-primary);
  --tblr-nav-tabs-border-radius: 0;
}

.nav-tabs .nav-link {
  background-color: #ffffff;
  margin: 0;
  border: none;
  border-right: 1px solid var(--tblr-border-color);
  border-bottom: 1px solid var(--tblr-border-color);
}

.nav-tabs .nav-item:last-child .nav-link {
  border-right: none;
}

.nav-tabs .nav-link:hover {
  border-color: #dbe0e7;
}

.dropzone {
  min-height: auto;
}

.form-select {
  --tblr-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.form-check-input[type='radio'] {
  width: 1.5rem;
  height: 1.5rem;
  background-size: 1.5rem 1.5rem;
}

.form-check-input[type='radio']:focus {
  border-color: transparent;
}

.form-check-input[type='radio']:checked {
  --tblr-primary: #fff4eb;
  --tblr-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3ccircle r='3' fill='%23fc7303' cx='8' cy='8' /%3e%3c/svg%3e");
}

.form-check-input[type='radio']:checked:disabled {
  opacity: 1;
  --tblr-primary: #f3f4f6;
  --tblr-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3ccircle r='3' fill='%23959DAC' cx='8' cy='8' /%3e%3c/svg%3e");
}

.form-colorinput-input:focus ~ .form-colorinput-color {
  border-color: var(--tblr-border-color);
}

.form-colorinput-input:checked ~ .form-colorinput-color {
  background-color: #fee8d6;
  border-color: transparent;
}

.form-colorinput-color:before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3e%3cpath fill='none' stroke='%23fc7303' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8.5l2.5 2.5l5.5 -5.5'/%3e%3c/svg%3e");
}

.form-switch .form-check-input {
  --tblr-form-check-bg: #eceff4;
  --tblr-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e");
  background-position: left 4px center;
  background-size: 12px 12px;
}

.form-switch .form-check-input:checked[type='checkbox'] {
  --tblr-form-check-bg: var(--tblr-primary);
  background-position: right 4px center;
}

.form-switch .form-check-input:disabled {
  background-color: #eceff4;
  opacity: 1;
  border: none;
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:active {
  filter: none;
}

/* start disabled search select */

.ts-wrapper {
  padding: 12px;
  background-color: #f3f4f6;
  border-radius: 6px;
}

.ts-wrapper.single .ts-control:after {
  width: 6px;
  height: 6px;
  border-width: 0;
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
  transform: rotate(135deg);
  transition: transform 0.3s ease;
}

.ts-wrapper.single.dropdown-active .ts-control:after {
  border-width: 0;
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
  transform: rotate(-45deg);
  margin-top: 0;
}

.focus .ts-control {
  border-color: transparent;
  box-shadow: none;
}

.ts-control {
  border: none;
  padding: 8px 12px;
}

.ts-control .item[data-value='1'] {
  opacity: 0.5;
}

.disabled .ts-control {
  background-color: #ffffff;
  opacity: 1;
}

.ts-dropdown {
  font-size: inherit;
  color: inherit;
  padding: 8px 12px 12px 12px;
  background-color: #f3f4f6;
  border: none;
  box-shadow: none;
  top: calc(100% - 12px);
  margin: 0;
}

.ts-dropdown .option {
  padding: 8px 32px;
}

.ts-dropdown .active {
  background-color: #f3f4f6;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.8001 0.56999C14.913 0.690272 14.9739 0.850922 14.9696 1.01661C14.9652 1.18229 14.8959 1.33944 14.7769 1.45349L5.37431 10.4535C5.31503 10.5103 5.24519 10.5547 5.16884 10.5841C5.09248 10.6135 5.01111 10.6273 4.92944 10.6247C4.84777 10.6222 4.76741 10.6033 4.693 10.5692C4.61859 10.5351 4.5516 10.4864 4.49592 10.426L1.15553 6.80099C1.04371 6.67965 0.984171 6.5184 0.990017 6.35272C0.992912 6.27068 1.01177 6.19001 1.04552 6.11534C1.07927 6.04066 1.12724 5.97343 1.18671 5.91749C1.24617 5.86155 1.31596 5.81799 1.39208 5.78929C1.46821 5.7606 1.54918 5.74734 1.63038 5.75026C1.79437 5.75617 1.94932 5.82765 2.06115 5.94899L4.97594 9.11249L13.9257 0.54649C14.0447 0.43246 14.2037 0.370875 14.3677 0.375282C14.5317 0.379689 14.6873 0.449727 14.8001 0.56999Z' fill='%23FC7303' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center right 16px;
}

.ts-dropdown-content {
  padding: 12px 0;
  border: 1px solid var(--tblr-border-color);
  border-radius: 4px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
/* end disabled search select */

/* start available search select */

.ts-wrapper.available-search-select {
  padding: 0;
  background-color: transparent;
}

.ts-wrapper.available-search-select-with-first-value .ts-control .item[data-value='1'] {
  padding-left: 24px;
  padding-right: 48px;
  opacity: 1;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.33333 1.33333V5.33333M10.6667 1.33333V5.33333M2 8H14M3.33333 3.33333H12.6667C13.403 3.33333 14 3.86395 14 4.51851V12.8148C14 13.4694 13.403 14 12.6667 14H3.33333C2.59695 14 2 13.4694 2 12.8148V4.51851C2 3.86395 2.59695 3.33333 3.33333 3.33333Z' stroke='%23959DAC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center left;
}

.ts-wrapper.available-search-select .ts-control {
  border: 1px solid var(--tblr-border-color);
}

.ts-wrapper.available-search-select .ts-dropdown {
  top: 100%;
  padding: 0;
  margin-top: 8px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
}

.ts-wrapper.available-search-select .ts-dropdown [data-selectable] .highlight {
  background-color: #febc86;
}

.ts-wrapper.available-search-select .dropdown-input-wrap {
  background-color: #ffffff;
  padding: 12px 8px 8px 8px;
  border: 1px solid var(--tblr-border-color);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: none;
}

.plugin-dropdown_input.focus .ts-dropdown .dropdown-input {
  border: 1px solid var(--tblr-primary);
  background-color: #ffffff;
  box-shadow: none;
  padding: 6px 32px;
  border-radius: 4px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 14L11.1 11.1M12.6667 7.33333C12.6667 10.2789 10.2789 12.6667 7.33333 12.6667C4.38781 12.6667 2 10.2789 2 7.33333C2 4.38781 4.38781 2 7.33333 2C10.2789 2 12.6667 4.38781 12.6667 7.33333Z' stroke='%23959DAC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center left 10px;
}

.plugin-dropdown_input.focus .ts-dropdown .dropdown-input::placeholder {
  opacity: 0.5;
}

.ts-wrapper.available-search-select .ts-dropdown-content {
  padding: 0;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: none;
}

.ts-wrapper.available-search-select .ts-dropdown .option {
  padding: 8px 32px;
}

/* end available search select */

.modal-sm {
  --tblr-modal-width: 400px;
  --tblr-modal-border-color: none;
}

.modal-content .btn-close {
  top: 1rem;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}

.table {
  --table-border-color: #eceff4;

  border-collapse: separate !important;
}

.table thead th {
  --tblr-bg-surface-tertiary: transparent;

  padding: 8px;
  white-space: normal;
  vertical-align: middle;
  text-transform: none;
  letter-spacing: normal;
  font-size: inherit;
  font-weight: bold;
  font-size: 1rem;
}

.table tbody td {
  padding: 16px;
  vertical-align: middle;
}

.table tbody tr {
  position: relative;
}

.table tbody td:first-child {
  padding-left: 56px;
}

.table tfoot td:first-child {
  padding-left: 0;
}

.table .tr-card td:first-child::after {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--table-row-color, transparent);
  z-index: -1;
  border: 1px solid var(--table-border-color);
  border-radius: 10px;
}

.table .tr-card--disabled {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.table .tr-card--disabled td:first-child::after {
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(-45deg, #fff 0, var(--table-border-color) 2px, #fff 0, #fff 50%);
}

.table > :not(caption) > * > * {
  border-bottom-width: 0;
}

.table.table-retrospective tbody td:first-child {
  padding-left: 90px;
}

.table.table-retrospective thead th:first-child {
  padding-left: 80px;
}

.popover {
  --tblr-popover-max-width: 130px;
  --tblr-popover-header-padding-x: 0.5rem;
  --tblr-popover-header-color: #fff;
  --tblr-popover-header-font-size: 12px;
  --tblr-popover-bg: rgba(0, 0, 0, 0.64);
  --tblr-popover-border-color: transparent;
}

.popover .popover-arrow::after,
.popover .popover-arrow::before {
  display: none;
}

.btn-check[type='radio'] + .label-check:not(:last-child) {
  border-right: 1px solid var(--tblr-border-color);
}

.btn-check[type='radio']:checked + .label-check {
  background-color: #fff4eb;
  color: var(--tblr-primary);
  border-right: 1px solid transparent;
}
